<h2>Sign-Up Page</h2>
<form method="post" action="/Account/SignUp">
    <label>New Username</label>
    <input type="text" name="Username" placeholder="Enter username" />
    <label>Email ID</label>
    <input type="text" name="EmailId" placeholder="Enter username" />
    <label>New Password</label>
    <input type="password" name="Password" placeholder="Enter password" />
    <label>Confirm Password</label>
    <input type="password" name="PasswordConfirm" placeholder="Enter password" />
    <button type="submit">Register</button>
    <button type="reset">Reset Form</button>
</form>