<h2>Sign-Up Page</h2>
<form method="post" action="/Account/SignUp">
    <label>New Username</label>
    <input type="text" name="username" placeholder="Enter username" />
    <label>New Password</label>
    <input type="password" name="password1" placeholder="Enter password" />
    <label>Confirm Password</label>
    <input type="password" name="password2" placeholder="Enter password" />
    <button type="submit">Register</button>
    <button type="reset">Reset Form</button>
</form>